<!DOCTYPE html>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="public :: head('card')">
</head>
  <body>
     <div class="ace-wrapper">
         <header id="ace-header" class="ace-container-shift ace-logo-in ace-head-boxed ace-nav-right">
             <div class="ace-head-inner">
                 <div class="ace-head-container ace-container">
                     <div class="ace-head-row">
                         <div id="ace-head-col1" class="ace-head-col text-left">
                             <a id="ace-logo" class="ace-logo" href="index.html">
                                <img src="img/uploads/brand/logo.svg" alt="ace resume"><span>.Certy</span>
                             </a>
                         </div>
                         
                         <div id="ace-head-col2" class="ace-head-col text-right">
                             <div class="ace-nav-container ace-container hidden-sm hidden-xs">
                                 <nav id="ace-main-nav">
                                    <ul class="clear-list">
										<li><a href="index.html">我的简介</a></li>
										<li><a href="portfolio.html">我的作品</a>
										<li><a href="contact.html">信息更新</a></li>
									</ul>
                                 </nav>
                             </div>
                         </div>
                         
                      
                     </div>
                 </div><!-- .ace-container -->
             </div><!-- .ace-head-inner -->
        </header><!-- #ace-header -->

        
        <nav id="ace-nav-sm" class="ace-nav hidden-lg hidden-md">
            <ul class="clear-list">
				<li>
					<a href="index.html" data-tooltip="Home"><img class="avatar avatar-42" src="img/uploads/avatar/avatar-42x42.png" alt=""></a>
				</li>
				<li>
					<a href="portfolio.html" data-tooltip="Portfolio"><span class="ace-icon ace-icon-portfolio"></span></a>
				</li>
				<li class="active">
					<a href="contact.html" data-tooltip="Contact"><span class="ace-icon ace-icon-contact"></span></a>
				</li>
				<li>
			</ul>
        </nav><!-- #ace-tab-nav-sm -->

        <article id="ace-card" class="ace-card bg-primary">
			<div class="ace-card-inner text-center">
				<img class="avatar avatar-195" src="img/uploads/avatar/195.jpg" width="195" height="195" alt="">
				<h1>凌爱杰</h1>

				<ul class="ace-social clear-list">
					<li><a><span class="ace-icon ace-icon-facebook"></span></a></li>
					<li><a><span class="ace-icon ace-icon-twitter"></span></a></li>
					<li><a><span class="ace-icon ace-icon-google-plus"></span></a></li>
					<li><a><span class="ace-icon ace-icon-instagram"></span></a></li>
					<li><a><span class="ace-icon ace-icon-pinterest"></span></a></li>
				</ul>
			</div>

			<footer class="ace-card-footer">
				<a class="btn btn-lg btn-block btn-thin btn-upper " href="contact.html">更新信息</a>
			</footer>
		</article><!-- #ace-card -->

        <div id="ace-content" class="ace-container-shift">
            <div class="ace-container">

                
                    <div id="ace-nav-wrap" class="hidden-sm hidden-xs">
                        <div class="ace-nav-cont">
                            <div id="ace-nav-scroll">
                                <nav id="ace-nav" class="ace-nav">
                                    <ul class="clear-list">
										<li>
											<a href="index.html" data-tooltip="我的简介"><img class="avatar avatar-42" src="img/uploads/avatar/avatar-42x42.png" alt=""></a>
										</li>
										
										<li>
											<a href="portfolio.html" data-tooltip="我的作品"><span class="ace-icon ace-icon-portfolio"></span></a>
										</li>
										<li class="active">
											<a href="contact.html" data-tooltip="信息更新"><span class="ace-icon ace-icon-contact"></span></a>
										</li>
									</ul>
                                </nav>
                            </div>

                            <div id="ace-nav-tools" class="hidden">
                                <span class="ace-icon ace-icon-dots-three-horizontal"></span>

                                <button id="ace-nav-arrow" class="clear-btn">
                                    <span class="ace-icon ace-icon-chevron-thin-down"></span>
                                </button>
                            </div>
                        </div>
                        <div class="ace-nav-btm"></div>
                    </div><!-- .ace-nav-wrap -->

                <div class="ace-paper-stock">
                    <main class="ace-paper clearfix">
                        <div class="ace-paper-cont clear-mrg">
						
						<!-- START: PAGE CONTENT -->

    <h2 class="title-lg text-upper padd-box">选着更新内容</h2>

    <div class="padd-box-xs">
      <!--  <header class="contact-head">
            <ul class="ace-social primary-social clear-list">
                <li><a><span class="ace-icon ace-icon-facebook"></span></a></li>
                <li><a><span class="ace-icon ace-icon-twitter"></span></a></li>
                <li><a><span class="ace-icon ace-icon-google-plus"></span></a></li>
                <li><a><span class="ace-icon ace-icon-instagram"></span></a></li>
                <li><a><span class="ace-icon ace-icon-pinterest"></span></a></li>
            </ul>
            <p class="title text-upper">fell free to contact me the core of your marketing</p>
        </header>-->
    </div>

    <div class="padd-box-sm">
        <form role="form" action="/greeting" th:action="@{/greeting}" th:object="${person}" method="POST">

            <div class="form-group">
                <label class="form-label" for="name">姓名</label>
                <div class="form-item-wrap">
                    <input id="name" name="name" class="form-item" type="text"  >
                </div>
            </div>

            <div class="form-group">
                <label class="form-label" for="e_mail">E-mail</label>
                <div class="form-item-wrap">
                    <input id="e_mail" name="e_mail"class="form-item" type="email" >
                </div>
            </div>

            <div class="form-group">
                <label class="form-label" for="phn">电话</label>
                <div class="form-item-wrap">
                    <input id="phn" class="form-item" name="phn" >
                </div>
            </div>

            <div class="form-group">
                <label class="form-label" for="infro">自我简介</label>
                <div class="form-item-wrap">
                    <input id="infro" name="infro" class="form-item" type="text">
                </div>
            </div>

            <div class="form-submit form-item-wrap">
                <input class="btn btn-primary btn-lg" type="submit" value="确认更新信息" onclick="fun()">
            </div>
        </form>
    </div>


    <div id="map" data-latitude="50.84592" data-longitude="4.366859999999974"></div>

<!-- END: PAGE CONTENT -->
						
                </div><!-- .ace-paper-cont -->
            </main><!-- .ace-paper -->
        </div><!-- .ace-paper-stock -->

        </div><!-- .ace-container -->
    </div><!-- #ace-content -->

<!--    <div id="ace-sidebar">
		<button id="ace-sidebar-close" class="btn btn-icon btn-light btn-shade">
			<span class="ace-icon ace-icon-close"></span>
		</button>

		<div id="ace-sidebar-inner">
			<nav id="ace-main-nav-sm" class="visible-xs visible-sm text-center">
				<ul class="clear-list">
					<li><a href="index.html">about</a></li>
					<li><a href="portfolio.html">portfolio</a>
					<li><a href="testimonials.html">references</a></li>
					<li class="has-sub-menu"><a href="#">pages</a>
						<ul class="sub-menu">
							<li><a href="typography.html">typography</a></li>
							<li><a href="components.html">components</a></li>
							<li><a href="search.html">search</a></li>
							<li><a href="404.html">404</a></li>
						</ul>
					</li>
					<li class="has-sub-menu"><a href="category.html">blog</a>
						<ul class="sub-menu">
							<li><a href="single.html">single</a></li>
							<li><a href="single-image.html">single image</a></li>
							<li><a href="single-slider.html">single slider</a></li>
							<li><a href="single-youtube.html">single youtube</a></li>
							<li><a href="single-vimeo.html">single vimeo</a></li>
							<li><a href="single-dailymotion.html">single dailymotion</a></li>
							<li><a href="single-soundcloud.html">single soundcloud</a></li>
							<li><a href="single-video.html">single video</a></li>
							<li><a href="single-audio.html">single audio</a></li>
						</ul>
					</li>
					<li><a href="contact.html">contact</a></li>
				</ul>
			</nav>&lt;!&ndash; #ace-main-nav-sm &ndash;&gt;

			
    

    &lt;!&ndash; Triangle Shapes &ndash;&gt;
    <svg id="ace-bg-shape-1" class="hidden-sm hidden-xs" height="519" width="758">
        <polygon points="0,455,693,352,173,0,92,0,0,71" style="fill:#d2d2d2;stroke:purple;stroke-width:0; opacity: 0.5">
    </svg>

    <svg id="ace-bg-shape-2" class="hidden-sm hidden-xs" height="536" width="633">
        <polygon points="0,0,633,0,633,536" style="fill:#c0e3e7;stroke:purple;stroke-width:0" />
    </svg>
</div>&lt;!&ndash; .ace-wrapper &ndash;&gt;-->

<!-- Scripts -->
<script type="text/javascript" src="js/vendor/jquery-1.12.4.min.js"></script>


<!---<script type="text/javascript" src="http://ditu.google.cn/maps/api/js?key=AIzaSyDiwY_5J2Bkv2UgSeJa4NOKl6WUezSS9XA"></script>--->
<script type="text/javascript" src="js/plugins/highlight/highlight.pack.js"></script>
<script type="text/javascript" src="js/plugins/jquery.mCustomScrollbar.min.js"></script>
<script type="text/javascript" src="js/plugins/isotope.pkgd.min.js"></script>
<script type="text/javascript" src="js/plugins/progressbar.min.js"></script>
<script type="text/javascript" src="js/plugins/slick.min.js"></script>

<script type="text/javascript" src="js/options.js"></script>
<script type="text/javascript" src="js/main.js"></script>
</body>
</html>

